
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<title>キャンセル完了</title>
</head>
<body>
	<div class="border border-primary" style="padding: 20px; margin: 30px;">
		<div class=text-center>
			<h2>キャンセルが完了しました。</h2>
		</div>
		<p></p>
		<div class=text-center>
			<form action="/" method="get">
				<input type="submit" value="トップに戻る" class="btn btn-primary">
			</form>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
