@charset "UTF-8";

body {
    background: #eeeeee;
    font-family: Meiryo;
}

div {
	font-size: 20px;
	background: #ffffff;
	width: 600px;
	padding: 20px;
}

 
 .button {
 }
 
.ride_station {
	width: 200px;
}
.drop_off_station {
	width: 200px;
}